<div id="editUserModal" class="modal fade">
    
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="/usersave">

                
                <div class="modal-header">
                    <h4 class="modal-title">Edit User</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" name="userid" class="form-control userid" name="userid" />
                    </div>
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control firstname" name="firstname" required>
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control lastname" name="lastname" required>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control email" name="email" required>
                    </div>
                   
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control password" name="password" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-info" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>
