<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Your Website 2021</div>
            <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/datatables-demo.js"></script>

<script>
   
    $(document).ready(function(){
           $('#dataTable').on('click','.edit',function(){
               
        var userid = $(this).data('userid');
        var firstname = $(this).data('firstname');
        var lastname = $(this).data('lastname');
        var email = $(this).data('email');
        var password = $(this).data('password');
        $('#editUserModal').modal('show');
        $('.userid').val(userid);
        $('.firstname').val(firstname);
        $('.lastname').val(lastname);
        $('.email').val(email);
        $('.password').val(password);
      });

        $('#dataTable').on('click', '.delete', function () {

            var userid = $(this).data('userid');
            var firstname = $(this).data('firstname');
            var lastname = $(this).data('lastname');
            var email = $(this).data('email');
            var password = $(this).data('password');
            $('#deleteUserModal').modal('show');
            $('.firstname').text("Delete User "+firstname);
            $('.email').text("This account is associated with "+email+" email.");
            $('.userid').val(userid);

            /*$('.lastname').val(lastname);
            $('.email').val(email);
            $('.password').val(password);*/
        });


    });

   

           
</script>
</body>

</html>