<%- include('header'); -%>
    <div id="layoutSidenav">
        <%- include('leftsidebar'); -%>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Welcome to Admin Panel</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>

                </div>
            </main>
        <%- include('footer'); -%>
       