<%- include('header'); -%>
    <div id="layoutSidenav">
        <%- include('leftsidebar'); -%>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Stocks</h1>
                
                
                        <div class="card mb-4">
                            <div class="card-header">
                                <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i
                                        class="material-icons">&#xE147;</i> <span>Add New Stock</span></a>
                            </div>
                
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>User id</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Action</th>
                
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th>User id</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Action</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr>
                
                                                <td>1</td>
                                                <td>Tiger Nixon</td>
                                                <td>System Architect</td>
                                                <td>Edinburgh</td>
                                                <td><a href="#editEmployeeModal" class="edit" data-toggle="modal"><i
                                                            class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                                    <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i
                                                            class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                                </td>
                
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Garrett Winters</td>
                                                <td>Accountant</td>
                                                <td>Tokyo</td>
                                                <td><a href="#editEmployeeModal" class="edit" data-toggle="modal"><i
                                                            class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                                    <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i
                                                            class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                                </td>
                
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Ashton Cox</td>
                                                <td>Junior Technical Author</td>
                                                <td>San Francisco</td>
                                                <td><a href="#editEmployeeModal" class="edit" data-toggle="modal"><i
                                                            class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                                    <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i
                                                            class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                                </td>
                
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Cedric Kelly</td>
                                                <td>Senior Javascript Developer</td>
                                                <td>Edinburgh</td>
                                                <td><a href="#editEmployeeModal" class="edit" data-toggle="modal"><i
                                                            class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                                    <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i
                                                            class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                                </td>
                
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Airi Satou</td>
                                                <td>Accountant</td>
                                                <td>Tokyo</td>
                                                <td><a href="#editEmployeeModal" class="edit" data-toggle="modal"><i
                                                            class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                                    <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i
                                                            class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                                </td>
                
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>Brielle Williamson</td>
                                                <td>Integration Specialist</td>
                                                <td>New York</td>
                                                <td><a href="#editEmployeeModal" class="edit" data-toggle="modal"><i
                                                            class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                                    <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i
                                                            class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                                </td>
                
                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td>Herrod Chandler</td>
                                                <td>Sales Assistant</td>
                                                <td>San Francisco</td>
                                                <td><a href="#editEmployeeModal" class="edit" data-toggle="modal"><i
                                                            class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                                    <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i
                                                            class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                                </td>
                
                                            </tr>
                                            <tr>
                                                <td>8</td>
                                                <td>Rhona Davidson</td>
                                                <td>Integration Specialist</td>
                                                <td>Tokyo</td>
                                                <td><a href="#editEmployeeModal" class="edit" data-toggle="modal"><i
                                                            class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                                    <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i
                                                            class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                                </td>
                
                                            </tr>
                                            <tr>
                                                <td>9</td>
                                                <td>Colleen Hurst</td>
                                                <td>Javascript Developer</td>
                                                <td>San Francisco</td>
                                                <td><a href="#editEmployeeModal" class="edit" data-toggle="modal"><i
                                                            class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                                    <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i
                                                            class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                                </td>
                
                                            </tr>
                                            <tr>
                                                <td>10</td>
                                                <td>Sonya Frost</td>
                                                <td>Software Engineer</td>
                                                <td>Edinburgh</td>
                                                <td><a href="#editEmployeeModal" class="edit" data-toggle="modal"><i
                                                            class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                                    <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i
                                                            class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                                </td>
                
                                            </tr>
                                            <tr>
                                                <td>11</td>
                                                <td>Jena Gaines</td>
                                                <td>Office Manager</td>
                                                <td>London</td>
                                                <td><a href="#editEmployeeModal" class="edit" data-toggle="modal"><i
                                                            class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                                    <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i
                                                            class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                                </td>
                
                                            </tr>
                
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <%- include('footer'); -%>