<%- include('header'); -%>
    <div id="layoutSidenav">
        <%- include('leftsidebar'); -%>
            
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Users</h1>
                
                
                        <div class="card mb-4">
                            <div class="card-header">
                                <a href="#addUserModal" class="btn btn-success" data-toggle="modal"><i
                                        class="material-icons">&#xE147;</i> <span>Add New User</span></a>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Email</th>
                                                <th>Action</th>
                
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Email</th>
                                                <th>Action</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <!--<tr>
                
                                                <td>1</td>
                                                <td>Tiger Nixon</td>
                                                <td>System Architect</td>
                                                <td>Edinburgh</td>
                                                <td><a href="#editEmployeeModal" class="edit" data-toggle="modal"><i
                                                            class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                                    <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i
                                                            class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                                </td>
                
                                            </tr>-->
                                            <% if(userData.length!=0){ var i=1; userData.forEach(function(data){ %>
                                                <tr>
                                                    <td>
                                                        <%=i; %>
                                                    </td>
                                                    <td>
                                                        <%=data.firstname %>
                                                    </td>
                                                    <td>
                                                        <%=data.lastname %>
                                                    </td>
                                                    <td>
                                                        <%=data.email %>
                                                    </td>
                                                    <td>
                                                        <a href="javascript:void(0);" class="edit" data-userid="<%=data.userid %>" data-firstname="<%=data.firstname %>" data-lastname="<%=data.lastname %>" data-email="<%=data.email %>" data-password="<%=data.password %>" ><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                                        <a href="javascript:void(0);" class="delete" data-userid="<%=data.userid %>" data-firstname="<%=data.firstname %>" data-lastname="<%=data.lastname %>" data-email="<%=data.email %>"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                                    </td>
                                                </tr>

                                                

                                                <% i++; }) %>
                                                    <% } else{ %>
                                                        <tr>
                                                            <td colspan="7">No Data Found</td>
                                                        </tr>
                                                        <% } %>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                
               
                <%- include('addusermodal'); -%>
                <%- include('editusermodal'); -%>
                <%- include('deleteusermodal'); -%>

                <%- include('footer'); -%>